[package]
name = "alice-engine"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
colored = "2"
peak_alloc = "0.2.0"
chess = "3.2.0"
rand = "0.8.5"
vampirc-uci = "0.11.1"
